@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  --color-langara-orange: #f15a22;
  --color-langara-orange-light: #f58c65;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}
body {
  background-color: var(--color-langara-orange);
  overflow-x: hidden;
}

.main-container {
  min-height: 100vh;
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
